$backgroundWhite: #fafafa;

$darkGrey: #666666;
$lightGrey: #f4f6fa;

$lightBlue: #c4d2ea;
$brightBlue: #64a9d7;
$middleBlue: #77abdc;
$silBlue: #a0b6da;
$deepBlue: #416092;

$poppinsFont:'Poppins', sans-serif;
$oldStanFont: 'Old Standard TT', serif;
$playfairFont: 'Playfair Display', serif;