@import './setupSnippit';
@import './topographyBg';
@import './fontsAndColors';
@import './mixins';

// * {border:1px solid rgb(230, 120, 138);}

body {
    background-color: $backgroundWhite;
    font-size: 62.5%;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    z-index: 5;
}

//HEADER START

.leftBlob{
    width: 15%;
    z-index: -10;
}

.headerContent{
    z-index: 20;
    margin-top: -450px;
    @include flexRow;
}

.headerText{
    @include flexColumn;
    padding-left: 55px;
    width: 50%;
    padding-top: 75px;
}

h1{
    font-size: 4rem;
    background-image: linear-gradient(45deg, $deepBlue, $middleBlue);
    background-clip: text;  -webkit-background-clip: text;  -moz-background-clip: text;  -moz-text-fill-color: transparent;  -webkit-text-fill-color: transparent;
}

h1,
h2{
    font-family: $playfairFont;
}

h2,
h3{
    color: $darkGrey;
}

h3{
    font-family: $poppinsFont;
    text-transform: uppercase;
    font-size: 1.6rem;
}

header h2{
    font-size: 3.2rem;
    margin-bottom: -44px;
}
.heroImg{
    width: 50%;
}

.heroImg img{
    width: 100%;
    margin-top: -55px;
}

.zigZag{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

//HEADER END

//ABOUT ME SECTION START
.aboutMeSection{
    height: auto;
}

.aboutMeContent{
    @include flexRow;
}

.aboutMeText,
.skillCard{
    width: 50%;
}

.skillCard{
    background-image: url(skillCard.png);
    background-size: 450px 275px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    margin-top: 40px;
    position: relative;
}

.skillCard h3{
    color: $brightBlue;
}

.faIcons{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    position: absolute;
    margin-top: 83px;
    margin-right: 45px;
}

div i {
    font-size: 3.1rem;
    background-image: linear-gradient(45deg, $silBlue, $brightBlue);
    background-clip: text;  -webkit-background-clip: text;  -moz-background-clip: text;  -moz-text-fill-color: transparent;  -webkit-text-fill-color: transparent;
    padding: 8px;
    margin: 9px;
}

.aboutMeText{
    padding: 5px;
}


.aboutMeText h3{
    color: $deepBlue;
}

.aboutMeText span{
    color: $brightBlue;
}

.mySkillsText{
    color: $deepBlue;
    font-size: 1.4rem;
    margin-right: 56px;
    padding: 18px;
}


p{
    font-family: $poppinsFont;
    color: $darkGrey;
    font-size: 1rem;
    line-height: 1.5rem;
}
.rightBlob{
    z-index: -10;
    display: flex;
    justify-content: flex-end;
    margin-top: -900px;
}

.rightBlob img{
    width: 500px;
    z-index: -10;
}

//ABOUT ME SECTION END

//PORTFOLIO SECTION START
.portfolioSection{
    margin-top: 100px;
}

.portfolioSection h3{
    width: 50%;
    text-align: right;
    color: $deepBlue;
    padding-right: 8px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.projectFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px;

}

.projectCard{
    width: 450px;
    position: relative;
    padding: none;
    transition: all 0.5s;
}

.projectCard img{
    width: 100%;
    border-radius: 25px;
    transition: all 0.5s;
        &:hover,
        &:focus-within{
        transform: scale(1.05);
        }
    position: relative;
}

.showInfo{
    // display: none;
    visibility: hidden;
    transition: ease-in-out .5s;
    padding: 5px;
    position: absolute;
    margin-top: -264px;
    width: 450px;
}

.showInfo h3{
    padding: 0;
    text-align: left;
}

.showInfo span{
    color: $brightBlue;
}

.rightInfo{
    margin-left: -530px;
}

.leftInfo{
    margin-left: 530px;
}

.projectCard:hover .showInfo,
.projectCard:focus-within .showInfo{
        visibility: visible;
        transition: ease-in-out .5s;
}






.leftProjects{
    @include flexColumn;
    justify-content: space-between;
}

.rightProjects{
    @include flexColumn;
    justify-content: center;
}

.vl{
    border-left: 4px dotted $silBlue;
    height: 900px;
}

//PORTFOLIO SECTION END


//FOOTER START
footer {
    padding-bottom: 60px;
}

footer h3{
    color: $deepBlue;
    text-align: center;
}

.contactFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.socialLinksText{
    width: 40%;
    padding: 30px;
}

.email a{
    text-decoration: none;
    color: $brightBlue;
    font-size: 1.1rem;
}

.socialLinks{
    display: flex;
}

.socialLinks i {
    transition: ease-in-out .5s;
    &:hover,
    &:focus-within{
    transform: scale(1.1);
    }
}

form {
    width: 60%;
    padding: 30px;
}

input, textarea{
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: transparent;
    font-family: $poppinsFont;
    border: none;
    border-bottom: 1px solid $darkGrey;
}

.nameAndEmail{
    display: flex;
    justify-content: space-between;
}

.nameInput{
    width: 95%;
}

button{
    font-size: 1rem;
    line-height: 1.5rem;
    width: auto;
    font-family: $poppinsFont;
    color: $backgroundWhite;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 15px;
    background-color: $deepBlue;
    border: $deepBlue;
    margin: 25px 0;

    transition: ease-in-out .5s;
        &:hover,
        &:focus-within{
        transform: scale(1.05);
        }
}

//FOOTER END

//MEDIA QUERIES START***************************************************
@media (max-width: 1050px){
    .wrapper{
        width: 900px;
    }

    .skillCard{
        background-size: 410px 300px;
    }
    .mySkillsText{
        margin-right: 33px;
    }
    .faIcons{
        width: 340px;
        margin-right: 17px;
    }
    .projectCard{
        width: 400px;
    }
    .showInfo{
        width: 350px;
    }
    .rightInfo{
        margin-left: -477px;
    }
    .portfolioSection h3{
        width: 100%;
        text-align: center;
    }

}
@media (max-width: 940px){
    .wrapper{
        width: 750px;
    }
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size: 1.2rem;
    }  
    .vl{
        height: 700px;
    }
    .skillCard{
        background-size: 350px 300px;
    }
    .mySkillsText{
        margin-right: 33px;
    }
    .faIcons{
        width: 340px;
        margin-right: 17px;
    }
    .portfolioSection h3{
        padding-top: 8px;
        padding-bottom: 20px;
    }
    .projectCard {
        width: 350px;
    }
    .leftInfo {
        margin-left: 377px;
    }
    .rightInfo {
        margin-left: -374px;
    }
    .showInfo{
        margin-top: -252px;
    }
    .showInfo h3{
        padding: 0;
    }


}


@media(max-width: 750px){
    .wrapper{
        width: 90%;
    }

    h1{
        font-size: 3rem;
    }

    header h2{
        font-size: 2.4rem;
    }

    .heroImg img {
        width: 119%;
        margin-top: -28px;
        margin-left: -45px;
    }

    .rightBlob{
        display: none;
    }

    .aboutMeContent{
        flex-direction: column;
        align-items: center;
    }
    .skillCard{
        width: 60%;
        background-image: none;
        margin-top: 0;
        height: 320px;
    }
    .aboutMeText{
        width: 80%;
    }
    p{
        font-size: .8rem;
    }
    .portfolioSection {
        margin-top: 30px;
    }
    .showInfo {
        margin-top: 0;
        width: 300px;
        position: static;
        visibility: visible;
        padding: 0;
        margin-bottom: 30px;
    }
    .projectFlex{
        justify-content: center;
    }

    .leftInfo{
        margin-top: 0;
        margin-left: 0;
    }

    .rightInfo{
        margin-left: 0;
    }

    .vl{
        display: none;
        height: 0;
    }

    .projectCard {
        width: 310px;
    }
    .projectCard img{
        margin-bottom: 0;
    }

    .contactFlex{
        flex-direction: column;
    }
    .socialLinksText{
        width: 80%;
        margin: 0 auto;
        padding:0;
    }
    
    .socialLinks{
        justify-content: center;
    }

    form{
        width: 100%;
    }
    .nameAndEmail{
        flex-direction: column;
    }
    .nameInput{
        width: 100%;
    }
    .buttonClass{
        display: flex;
        justify-content: center;
    }
    footer{
        padding: 0;
    }
}

@media (max-width: 460px){
    .wrapper{
        width: 95%;
    }
    .headerText{
        padding: 0;
        width: 100%;
        padding-left: 5px;
    }

    h1{
        font-size: 2.2rem;
    }
    header h2{
        font-size: 1.8rem;
        margin-bottom: -27px;
    }
    .heroImg img {
        width: 155%;
        margin-top: -56px;
        margin-left: -66px;
    }
    .zigZag{
        padding-top: 20px;
    }


    .mySkillsText{
        margin: 0 auto;
    }
    .faIcons{
        margin: 0 auto;
        padding-top: 84px;
        padding-bottom: 0;
    }
    .aboutMeText{
        width:100%;
    }

    // .showInfo{
    //     display: none;
    // }
    .projectFlex{
        justify-content: center;
    }
    
}


//MEDIA QUERIES END