@import './setupSnippit';
@import './topographyBg';
@import './fontsAndColors';
@import './mixins';

// * {border:1px solid rgb(230, 120, 138);}

body {
    background-color: $backgroundWhite;
    font-size: 62.5%;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
    z-index: 5;
}

//HEADER START

.leftBlob{
    width: 15%;
    z-index: -10;
}

.headerContent{
    z-index: 20;
    margin-top: -450px;
    @include flexRow;
}

.headerText{
    @include flexColumn;
    padding-left: 55px;
    width: 50%;
    padding-top: 75px;
}

h1{
    font-size: 4rem;
    background-image: linear-gradient(45deg, $deepBlue, $middleBlue);
    background-clip: text;  -webkit-background-clip: text;  -moz-background-clip: text;  -moz-text-fill-color: transparent;  -webkit-text-fill-color: transparent;
}

h1,
h2{
    font-family: $playfairFont;
}

h2,
h3{
    color: $darkGrey;
}

h3{
    font-family: $poppinsFont;
    text-transform: uppercase;
    font-size: 1.6rem;
}

header h2{
    font-size: 3.2rem;
    margin-bottom: -44px;
}
.heroImg{
    width: 50%;
}

.heroImg img{
    width: 100%;
    margin-top: -55px;
}

.zigZag{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

//HEADER END

//ABOUT ME SECTION START
.aboutMeSection{
    height: auto;
}

.aboutMeContent{
    @include flexRow;
}

.aboutMeText,
.skillCard{
    width: 50%;
}

.skillCard{
    background-image: url(skillCard.png);
    background-size: 450px 275px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    margin-top: 40px;
    position: relative;
}

.skillCard h3{
    color: $brightBlue;
}

.faIcons{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    position: absolute;
    margin-top: 83px;
    margin-right: 45px;
}

div i {
    font-size: 3.1rem;
    background-image: linear-gradient(45deg, $silBlue, $brightBlue);
    background-clip: text;  -webkit-background-clip: text;  -moz-background-clip: text;  -moz-text-fill-color: transparent;  -webkit-text-fill-color: transparent;
    padding: 8px;
    margin: 9px;
}

.aboutMeText{
    padding: 5px;
}


.aboutMeText h3{
    color: $deepBlue;
}

.aboutMeText span{
    color: $brightBlue;
}

.mySkillsText{
    color: $deepBlue;
    font-size: 1.4rem;
    margin-right: 56px;
    padding: 18px;
}


p{
    font-family: $poppinsFont;
    color: $darkGrey;
    font-size: 1rem;
    line-height: 1.5rem;
}
.rightBlob{
    z-index: -10;
    display: flex;
    justify-content: end;
    margin-top: -900px;
}

.rightBlob img{
    width: 500px;
    z-index: -10;
}

//ABOUT ME SECTION END

//PORTFOLIO SECTION START
.portfolioSection{
    margin-top: 100px;
}

.portfolioSection h3{
    width: 50%;
    text-align: right;
    color: $deepBlue;
    padding-right: 8px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.projectFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px;

}

.projectCard{
    width: 450px;
    position: relative;
    padding: none;
    transition: all 0.5s;
}

.projectCard img{
    width: 100%;
    border-radius: 25px;
    transition: all 0.5s;
        &:hover,
        &:focus-within{
        transform: scale(1.05);
        }
    position: relative;
}

.showInfo{
    // display: none;
    visibility: hidden;
    transition: ease-in-out .5s;
    padding: 5px;
    position: absolute;
    margin-top: -264px;
    width: 450px;
}

.showInfo h3{
    padding: 0;
    text-align: left;
}

.showInfo span{
    color: $brightBlue;
}

.rightInfo{
    margin-left: -530px;
}

.leftInfo{
    margin-left: 530px;
}

.projectCard:hover .showInfo,
.projectCard:focus-within .showInfo{
        visibility: visible;
        transition: ease-in-out .5s;
}






.leftProjects{
    @include flexColumn;
    justify-content: space-between;
}

.rightProjects{
    @include flexColumn;
    justify-content: center;
}

.vl{
    border-left: 4px dotted $silBlue;
    height: 900px;
}

//PORTFOLIO SECTION END


//FOOTER START
footer {
    padding-bottom: 60px;
}

footer h3{
    color: $deepBlue;
    text-align: center;
}

.contactFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.socialLinksText{
    width: 40%;
    padding: 30px;
}

.email a{
    text-decoration: none;
    color: $brightBlue;
    font-size: 1.1rem;
}

.socialLinks{
    display: flex;
}

.socialLinks i {
    transition: ease-in-out .5s;
    &:hover,
    &:focus-within{
    transform: scale(1.1);
    }
}

form {
    width: 60%;
    padding: 30px;
}

input, textarea{
    width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: transparent;
    font-family: $poppinsFont;
    border: none;
    border-bottom: 1px solid $darkGrey;
}

.nameAndEmail{
    display: flex;
    justify-content: space-between;
}

.nameInput{
    width: 95%;
}

button{
    font-size: 1rem;
    line-height: 1.5rem;
    width: auto;
    font-family: $poppinsFont;
    color: $backgroundWhite;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 15px;
    background-color: $deepBlue;
    border: $deepBlue;
    margin: 25px 0;

    transition: ease-in-out .5s;
        &:hover,
        &:focus-within{
        transform: scale(1.05);
        }
}

//FOOTER END

//MEDIA QUERIES START***************************************************

//HEADER MEDIA QUERIES START

//HEADER MEDIA QUERIES END


//MEDIA QUERIES END